# Our project.
/build
/tmp
/misc

/_build*

/.build*

# Source: https://raw.githubusercontent.com/github/gitignore/db943c49e438b367b9d3f6112e4f5f41b49dab3b/Haskell.gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
